body {
  font-family: arial, sans-serif;
  margin: 0px;
  background-color: rgb(124, 150, 151);
}

h1 {
  text-align: center;
  color: white;
}

.container{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 15px;
  flex-wrap: wrap;
}

.meal,
.cocktail {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  width: 440px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.2s;
  background-color: white;
}

.meal img,
.cocktail img {
  width: 100%;
  border-radius: 10px;
  display: block;
  margin-top: 10px;
}

p{
  line-height: 1.5;
}

table{
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse; 
}

td{
  padding: 5px;
  border-bottom: 1px solid #c2d7d6;
  text-align: left;
}

button{
  background-color: white;
  padding:10px 15px;
  border: none;
  border-radius: 10px;
  margin: 20px auto;
  cursor: pointer; 
  transition: 0.2s;
  font-size: 22px;
  display: block;
  color: rgb(124, 150, 151);
}

.meal:hover,
.cocktail:hover{
  transform: scale(1.02);
}

button:hover{
  background-color:white; 
  transform: scale(1.02);
  border: 2px solid rgb(42, 63, 63);
}

iframe{
  margin-top: 10px;
  border-radius: 10px;
}

#loading{
  text-align: center;
  color: white;
  display: none;
}